*{
  margin: 0;
  padding: 0;
}

.fire{
  background-color: #ee8130;
}

.water{
  background-color: #6390f0;
}

.grass{
  background-color: #7ac74c;
}

.bug{
  background-color: #a6b91a
}

.normal{
  background-color: #a8a878;
}

.poison{
  background-color: #a33ea1;
}

.electric{
  background-color: #f7d02c;
}

.ground{
  background-color: #e2bf65;
}

.fairy{
  background-color: #d685ad;
}

.fighting{
  background-color: #c22e28;
}

.psychic{
  background-color: #f95587;
}

.rock{
  background-color: #b6a136;
}

.ghost{
  background-color: #735797;
}

.ice{
  background-color: #96d9d6;
}

.dragon{
  background-color: #6f35fc;
}

.steel{
  background-color: #b7b7ce;
}

.dark{
  background-color: #705746;
}

.flying{
  background-color: #a98ff3;
}


  
.kanto {
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}

.johto{
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}

.hoenn{
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}

.sinnoh{
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}

.unova{
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}

.kalos{
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}

.alola{
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}

.galar{
  background-image: linear-gradient(  rgb(153, 153, 152), gray);
}
